/* @import url('../Albergue/config-grid.css'); */

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 175px;
    height: 30vh;
} */

/* Style the tab */

.tab {
    overflow: hidden;
    background-color: #2196F3;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: white;
    color: black;
}

.tab-text {
    color: white;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Serviço";
    }
    td:nth-of-type(2):before {
        content: "CAS";
    }
    td:nth-of-type(3):before {
        content: "Endereço";
    }
    td:nth-of-type(4):before {
        content: "Telefone";
    }
    td:nth-of-type(5):before {
        content: "E-Mail";
    }
    /* td:nth-of-type(6):before {
        content: "Secret Alias";
    }
    td:nth-of-type(7):before {
        content: "Date of Birth";
    }
    td:nth-of-type(8):before {
        content: "Dream Vacation City";
    }
    td:nth-of-type(9):before {
        content: "GPA";
    }
    td:nth-of-type(10):before {
        content: "Arbitrary Data";
    } */
}