@import url('../Albergue/config-grid.css');

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 175px;
    height: 30vh;
}